* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.item {
    height: 200px;
}

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: blue;
}

.bg-green {
    background-color: green;
}

.bg-target {
    background-color: chartreuse;
}

.target {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    position: fixed;
    /* becomes a seperate layout */
    /* top: 0; */
    bottom: 1rem;
    right: 1rem;
    /* default is left: 0 */

    /* content center */
    display: flex;
    justify-content: center;
    align-items: center;
}