body {
    background-image: url(../images/pexels-photo-6144105.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.iframe-green {
    border: 2px solid rgb(21, 152, 145);
    border-radius: .5rem;
    background-color: rgba(32, 178, 170, 0.6);
}

.container>.left-nav>ul>li>ul>li>a {
    text-decoration: none;
    display: inline-block;
    background-color: rgba(32, 178, 170, 0.6);
    color: rgb(9, 71, 68);
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    width: 100%;
    border-radius: .5rem;
    border: 2px solid rgb(21, 152, 145);

}

.container>.left-nav>ul>li>ul>li>a:hover {
    background-color: rgb(255, 255, 255, 0.5);
    color: lightseagreen;
    border-radius: .5rem;
    border: 2px solid rgb(21, 152, 145);

}

.color-green {
    color: rgb(9, 71, 68);
}