
header {
    background-image: url(../images/it-technology.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



nav {
    position: sticky;
    top: 0;
}

nav>a {
    text-align: center;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding: .5rem;
    transition: all .5s;
}

nav>a:hover {
    background-color: white;
    color: black;
}

nav>a+a {
    margin-left: .5rem;
}

.d-flex {
    display: flex;
    align-items: center;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.left>img {
    height: 300px;
}

.right>img {
    height: 300px;
}

.profile>.left>img {
    width: 60%;
    border-radius: 10px;
}

.contact > .left {
    width: 25%;
}

.contact > .right {
    width: 75%;
}

.contact > .left > img {
    height: 20px;
}

.c-form {
    width: 100%;
    background-color: gainsboro;
    font-size: 1rem;
    padding: .5rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.form-line {
    height: 35px;
}

.form-button {
    font-size: 1rem;
    padding: .5rem;
    background-color: darkblue;
    color: white;
}

.contact > .left > div + div {
    margin-bottom: 2rem;
    margin-top:2rem;
}

.contact > .right {
    margin-right: 80px;
}

.contact-text {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.link-btn-wb {
    display: inline-block;
    padding: .5rem 1rem;
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 1.125rem;
    border-radius: 0.5rem;
}

.link-btn-wb:hover {
    background-color: white;
    color: black;
    outline: 1px solid black;
}

.link-btn-bw {
    display: inline-block;
    padding: .5em 1rem;
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 1.125rem;
    border-radius: 0.5rem;
}

.link-btn-bw:hover {
    background-color: black;
    color: white;
    outline: 1px solid white;
}